In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r'C:\Users\vijay\Downloads\uber_rides_data.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [4]:
df.describe()

,ride_id,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,2.000000e+05,200000.000000,200000.000000,200000.000000,199999.000000,199999.000000,200000.000000
mean,2.771250e+07,11.359955,-72.527638,39.935885,-72.525292,39.923890,1.684535
std,1.601382e+07,9.901776,11.437787,7.720539,13.117408,6.794829,1.385997
min,1.000000e+00,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,1.382535e+07,6.000000,-73.992065,40.734796,-73.991407,40.733823,1.000000
50%,2.774550e+07,8.500000,-73.981823,40.752592,-73.980093,40.753042,1.000000
75%,4.155530e+07,12.500000,-73.967153,40.767158,-73.963658,40.768001,2.000000
max,5.542357e+07,499.000000,57.418457,1644.421482,1153.572603,872.697628,208.000000

In [13]:
df[df['dropoff_longitude']==0 ]['fare_amount'].mean()

12.060913921360267

In [18]:
df[df['pickup_datetime']==2014]

Empty DataFrame
Columns: [ride_id, fare_amount, pickup_datetime, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, passenger_count]
Index: []

In [17]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

In [19]:
df['pickup_datetime']

0        2015-05-07 19:52:06+00:00
1        2009-07-17 20:04:56+00:00
2        2009-08-24 21:45:00+00:00
3        2009-06-26 08:22:21+00:00
4        2014-08-28 17:47:00+00:00
                    ...
199995   2012-10-28 10:49:00+00:00
199996   2014-03-14 01:09:00+00:00
199997   2009-06-29 00:42:00+00:00
199998   2015-05-20 14:56:25+00:00
199999   2010-05-15 04:08:00+00:00
Name: pickup_datetime, Length: 200000, dtype: datetime64[ns, UTC]

In [20]:
rides_2014 = df[df['pickup_datetime'].dt.year == 2014]

# Count the number of rides in 2014
num_rides_2014 = len(rides_2014)

In [21]:
num_rides_2014

29968

In [22]:

# Filter the DataFrame to include only rides in the first quarter of 2014
rides_first_quarter_2014 = df[(df['pickup_datetime'].dt.year == 2014) & (df['pickup_datetime'].dt.quarter == 1)]

# Count the number of rides in the first quarter of 2014
num_rides_first_quarter_2014 = len(rides_first_quarter_2014)

print("Number of rides recorded in the first quarter of 2014:", num_rides_first_quarter_2014)

Number of rides recorded in the first quarter of 2014: 7687

In [23]:
rides_september_2010 = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]

# Group the rides by day of the week and count them
day_of_week_counts = rides_september_2010['pickup_datetime'].dt.day_name().value_counts()

# Find the day of the week with the maximum rides
max_rides_day = day_of_week_counts.idxmax()
max_rides_count = day_of_week_counts.max()

In [24]:
max_rides_count

457

In [25]:
max_rides_day

'Thursday'

In [26]:
import pandas as pd
import numpy as np

# Define the Haversine formula for distance calculation
def haversine(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    R = 6371.0

    # Convert latitude and longitude from degrees to radians
    lat1 = np.radians(lat1)
    lon1 = np.radians(lon1)
    lat2 = np.radians(lat2)
    lon2 = np.radians(lon2)

    # Differences in latitude and longitude
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Haversine formula
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    # Calculate the distance
    distance = R * c
    return distance

# Assuming df is your DataFrame with columns: pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude
# Create a new column 'haversine_distance' with the calculated distances
df['haversine_distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

# Calculate the median haversine distance
median_haversine_distance = df['haversine_distance'].median()

print(f"The median Haversine distance between pickup and dropoff locations is {median_haversine_distance:.2f} kilometers.")

The median Haversine distance between pickup and dropoff locations is 2.12 kilometers.

In [27]:
max_haversine_distance = df['haversine_distance'].max()

print(f"The maximum Haversine distance between pickup and dropoff locations is {max_haversine_distance:.2f} kilometers.")

The maximum Haversine distance between pickup and dropoff locations is 16409.24 kilometers.

In [28]:
# Assuming df is your DataFrame with the 'haversine_distance' column calculated as in the previous response

# Filter the DataFrame to include only rides with 0.0 Haversine distance
zero_distance_rides = df[df['haversine_distance'] == 0.0]

# Count the number of rides with 0.0 Haversine distance
num_zero_distance_rides = len(zero_distance_rides)

print(f"The number of rides with 0.0 Haversine distance between pickup and dropoff locations is {num_zero_distance_rides}.")

The number of rides with 0.0 Haversine distance between pickup and dropoff locations is 5632.

In [29]:
# Assuming df is your DataFrame with the 'haversine_distance' and 'fare_amount' columns

# Filter the DataFrame to include only rides with 0.0 Haversine distance
zero_distance_rides = df[df['haversine_distance'] == 0.0]

# Calculate the mean 'fare_amount' for rides with 0.0 Haversine distance
mean_fare_amount_zero_distance = zero_distance_rides['fare_amount'].mean()

print(f"The mean 'fare_amount' for rides with 0.0 Haversine distance is {mean_fare_amount_zero_distance:.2f}.")

The mean 'fare_amount' for rides with 0.0 Haversine distance is 11.59.

In [30]:
# Assuming df is your DataFrame with the 'haversine_distance', 'fare_amount', 'pickup_latitude', 'pickup_longitude', 'dropoff_latitude', and 'dropoff_longitude' columns

# Find the ride with the highest 'fare_amount'
costliest_ride = df[df['fare_amount'] == df['fare_amount'].max()]

# Calculate the Haversine distance for the costliest ride
haversine_distance_costliest_ride = haversine(costliest_ride['pickup_latitude'].values[0],
                                               costliest_ride['pickup_longitude'].values[0],
                                               costliest_ride['dropoff_latitude'].values[0],
                                               costliest_ride['dropoff_longitude'].values[0])

print(f"The Haversine distance between pickup and dropoff locations for the costliest ride is {haversine_distance_costliest_ride:.2f} kilometers.")

The Haversine distance between pickup and dropoff locations for the costliest ride is 0.00 kilometers.

In [32]:
import pandas as pd
import numpy as np

# Define the Haversine formula for distance calculation
def haversine(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    R = 6371.0

    # Convert latitude and longitude from degrees to radians
    lat1 = np.radians(lat1)
    lon1 = np.radians(lon1)
    lat2 = np.radians(lat2)
    lon2 = np.radians(lon2)

    # Differences in latitude and longitude
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Haversine formula
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    # Calculate the distance
    distance = R * c
    return distance

# Assuming df is your DataFrame with columns: pickup_latitude, pickup_longitude, dropoff_latitude, and dropoff_longitude
# Create a new column 'distance' with the calculated distances
df['distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

# Now, the 'distance' column contains the calculated distances for each row

In [35]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# Create a new column 'ride_week_day' to store the day of the week for each row
df['ride_week_day'] = df['pickup_datetime'].dt.day_name()

In [46]:
merged_df = df.join(df2)

In [38]:
df2=pd.get_dummies(df['ride_week_day'])

In [48]:
merged_df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine_distance,distance,ride_week_day,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1,1.683323,1.683323,Thursday,0,0,0,0,1,0,0
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1,2.457590,2.457590,Friday,1,0,0,0,0,0,0
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1,5.036377,5.036377,Monday,0,1,0,0,0,0,0
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3,1.661683,1.661683,Friday,1,0,0,0,0,0,0
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5,4.475450,4.475450,Thursday,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,1,0.112210,0.112210,Sunday,0,0,0,1,0,0,0
199996,16382965,7.5,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1,1.875050,1.875050,Friday,1,0,0,0,0,0,0
199997,27804658,30.9,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,2,12.850319,12.850319,Monday,0,1,0,0,0,0,0
199998,20259894,14.5,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695415,1,3.539715,3.539715,Wednesday,0,0,0,0,0,0,1
199999,11951496,14.1,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,1,5.417783,5.417783,Saturday,0,0,1,0,0,0,0

In [43]:
# Assuming df is your DataFrame with a 'pickup_datetime' column
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# Extract the day of the week and create a new column 'ride_week_day'
df['ride_week_day'] = df['pickup_datetime'].dt.day_name()

In [52]:
merged_df.dropna(inplace=True)

In [53]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199999 entries, 0 to 199999
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             199999 non-null  int64
 1   fare_amount         199999 non-null  float64
 2   pickup_datetime     199999 non-null  datetime64[ns, UTC]
 3   pickup_longitude    199999 non-null  float64
 4   pickup_latitude     199999 non-null  float64
 5   dropoff_longitude   199999 non-null  float64
 6   dropoff_latitude    199999 non-null  float64
 7   passenger_count     199999 non-null  int64
 8   haversine_distance  199999 non-null  float64
 9   distance            199999 non-null  float64
 10  ride_week_day       199999 non-null  object
 11  Friday              199999 non-null  uint8
 12  Monday              199999 non-null  uint8
 13  Saturday            199999 non-null  uint8
 14  Sunday              199999 non-null  uint8
 15  Thursday            199999 non-null  uint8
 16  Tuesday             199999 non-null  uint8
 17  Wednesday           199999 non-null  uint8
dtypes: datetime64[ns, UTC](1), float64(7), int64(2), object(1), uint8(7)
memory usage: 19.6+ MB

In [54]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

# Assuming df is your DataFrame with columns: passenger_count, distance, ride_week_day, fare_amount

# Select the features and target variable
X = merged_df[['passenger_count', 'distance', 'Friday','Monday','Saturday','Sunday','Thursday','Tuesday','Wednesday']]
y = merged_df['fare_amount']

# Split the data into a training set (70%) and a testing set (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize and train regression models
models = {
    'Linear Regression': LinearRegression(),
    'Decision Tree Regressor': DecisionTreeRegressor(),
    'Random Forest Regressor': RandomForestRegressor()
}

adjusted_r2_scores = {}

for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    r2 = r2_score(y_test, y_pred)
    
    n = len(X_test)
    k = X_test.shape[1]
    adjusted_r2 = 1 - ((1 - r2) * (n - 1) / (n - k - 1))
    adjusted_r2_scores[model_name] = adjusted_r2

# Find the algorithm with the least adjusted R-squared
worst_algorithm = min(adjusted_r2_scores, key=adjusted_r2_scores.get)
worst_adjusted_r2 = adjusted_r2_scores[worst_algorithm]

print(f"The algorithm with the least adjusted R-squared is {worst_algorithm} with an adjusted R-squared of {worst_adjusted_r2:.4f}.")

The algorithm with the least adjusted R-squared is Linear Regression with an adjusted R-squared of 0.0006.